a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
  background-color: #e9e4e4;
  margin: 0;
  padding: 0;
  font-size: 2vw;
}

#app {
  top: 0;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.homeBody{
  width: 85%;
  display: grid;
  grid-template-columns: 100%;
  margin-left: auto;
  margin-right: auto;
}
.aFeed{
  display: grid;
  border-radius: 0px 10px 10px 10px;
  margin-bottom: 1%;
}
.leftFeedPost{
  display: grid;
  grid-template-rows: 9% 90%;
}
.feedPostContent{
  display:grid;
  grid-template-columns: 30% 70%;
  background-color: #ffffff;
  border-radius: 0px 10px 10px 10px;
  height: max-content;
}
.rightFeedContent{
  display: grid;
  grid-template-rows: max-content max-content max-content;
}
.rightFeedLabels{
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: max-content;
}
.rightFeedTitles{
  display: grid;
  grid-template-columns: 80% 20%;
}
#userNamePopUp{
  display: none;
  width: fit-content;
  height: fit-content;
  position: fixed;
  z-index: 5;
  border-style: solid;
  border-width: 3px;
  background-color: #d3d3d3;
  margin: auto;
}
#namePrompt{
  display: grid;
  grid-template-columns: 40% 60%;
}

button {
  border-radius: 8px;
  border: 2px solid;
  font-weight: 500;
  font-family: inherit;
  background-color: #d3d3d3;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #3a3a3a;
}
button:hover {
  border-color: #5fc462;
  border-width: 2px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active {
  background-color: #a7dba9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.navBtn{
  border-style: solid;
  border: #282828;
  border-width: 5px;
}

#nav{
  padding: 0;
  display: block;
  min-height: 5%;
  max-height: max-content;
}
#top{
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  width: 100%;
}
#topLeft{
  background-color: white;
  color: #3a3a3a;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 50% 50%;
}
.username{
  text-align: center;
  margin: 0;
}
#topMiddle{
  max-height: 95px;
  color: #3a3a3a;
  border-radius: 8px;
  display: grid;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.navLabel{
  margin: 0;
  padding: 0;
}

.section{
  display: none;
}
section{
  min-height: 94vh;
}

.profileDisplay{
  display:grid;
  grid-template-columns: 36% 16% 16% 16% 16%;
  background-color: #ffffff;
  border-color: #282828;
  border-width: 3px;
  border-style: solid;
}
.profileLabel{
  font-size: 1.2vw;
}

.smallEditBtn{
  display: inline;
  width: max-content;
  font-size: 1vw;
  margin: 0;
}
#editIcon{
  width: 15px;
}
#newNameInput{
  background-color:#e6e6e6;
  border: #282828;
  border-style: solid;
  padding: 2px;
}
#displayUsername{
  display: inline-block;
}
#editNameForm{
  margin-bottom: 5px;
}
input[type=submit]{
  background-color: transparent;
  font-weight: bold;
  font-size: 1.5vw;
}
#profilePosts{
  display: grid;
  grid-template-columns: 100%;
}
.aPost{
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 1%;
  background-color: #ffffff;
  border-radius: 0px 10px 10px 10px;
  height: max-content;
}
.displayPublisherName{
  background-color: #ffffff;
  text-align: left;
  width: max-content;
  border-radius: 10px 10px 0px 0px;
  padding-left: 3%;
  padding-right: 3%;
  border-bottom-style:solid ;
  border-bottom-width: .04rem;
}
.profilePostLabel{
  font-size: 1.3vw;
  text-align: left;
  padding-left: 3%;
}
.displayRank{
  display: grid;
  grid-template-rows: 20% 80%;
}
.objectImg{
  width: 100%;
  max-width: 100%;
  max-height: 100%; 
}
.objectImg4{
  max-height: 200px;
  max-width: fit-content; 
  margin-left: auto;
  margin-right: auto;
}
.objectImg2{
  max-width: 100%;
  max-height: 100%; 
  width: 60%;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-top: 3px;
}
.objectImg3{
  max-width: 100%;
  max-height: 100%; 
  width: 90%;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 14%;
}
.rankValue{
  font-size: 2vw;
  width:min-content;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 30%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(251, 0, 0, 0.375);
  margin-top: 2px;
}
#postContent{
  display: grid;
  grid-template-columns: 80% 20%;
  border-left-style: solid;
}
#leftPostContent{
  display: grid;
  grid-template-rows:40% 60%;
  margin-bottom: 3%;
}
#rightPostContent{
  display: grid;
  grid-template-rows: 40% 60%;
}
.voteContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  height: 100%;
}
.voteButtonContainer{
  display: grid;
  grid-template-rows: 50% 50%;
  height: 100%;
}
.voteArrow{
  height: 100%;
}
.voteValue{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}
.voteArrowBtn{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  height: 100%;
  width: max-content;
  border-style: none;
  background-color: transparent;
  margin-left: auto;
}
.titleValue{
  background-color: #ffffff;
  text-align: left;
  margin-right: auto;
  margin-bottom: auto;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #282828;
  border-width: 1px;
  padding-left: 3%;
}
.editTextArea{
  width: 90%;
  height: 90%;
}
#objectPopupContainer{
  display: grid;
  grid-template-rows: 30% 70%;
  margin-top: 1%;
}
#objectPopupTop{
  display: grid;
  grid-template-columns: 12% 88%;
  height: max-content;
  background-color: #ffffff;
  border-radius: 10px;
}
#leftObjectContent{
  display: grid;
  grid-template-rows: 14% 86%;
}
.averageRank{
  font-size: 6vw;
  font-weight: bold;
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  margin-bottom: auto;
  border-radius: 30%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(251, 0, 0, 0.375);
  width: max-content;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}
#rightObjectContent{
  display: grid;
  grid-template-columns: 25% 40% 35%;
  grid-template-rows: 14% 86%;
}

.objectLabel{
  font-size: 1.3vw;
  text-align: left;
  padding-left: 3%;
}
.publishPostButton{
  width: 37%;
  margin-left: auto;
  margin-right: auto;
}
#objectPopupBottom{
  margin-top: auto;
}
#objectPopupPosts{
  display: grid;
  grid-template-rows: max-content;
}
.objectPost {
  height: max-content;
  background-color: #ffffff;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 5% 95%;

}

#rankContainer{
  display: grid;
  grid-template-columns: 38% 62%;
  grid-template-rows: 100%;
  background-color: #ffffff;
  border-width: 2%;
  border-style: solid;
  border-top: transparent;
}
#leftSearch{
border-right-style: solid;
}

#postForm{
  background-color: rgba(255, 244, 229, 0.682);
  display: grid;
  grid-template-columns: 100%;
  border-top-style: solid;
}
#scaleInput{
  display: grid;
  grid-template-columns: 40% 45% 15%;
}
#textArea{
  width: 100%;
}
.textValue{
  background-color: #ffffff;
  text-align: left;
  width: max-content;
}
.textContainer{
  width: 90%;
  margin: auto;
  text-align: left;
}
#postText{
  display: grid;
  grid-template-columns: 40% 60%;
}
#publishPost{
  width: 50%;
  margin: auto;
}
#rankSearchTitle{
  background-color: rgb(255, 244, 205);
  padding-bottom: .3vh;
}
#searchBarContainer{
  max-height: 35px;
  display:grid;
  grid-template-columns: 82% 18%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
searchBar{
  height: 100%;
}
#searchIcon{
  max-height: 20px;
  max-width: 20px;
  padding: auto;
}
#searchButton{
  height: 100%;
  width: 100%;
}

input{
  height: 2rem;
  border-radius:10px;
  border: none;
  outline: none;
  text-align: center;
  color: #282828;
}

#searchResults{
  display: grid;
  grid-template-columns: 100%;
}
.resultObject{
  width: 100%;
  background-color: #ebf6a058;
  border-bottom: 0;
}

#listWords{
  margin: .6rem;
  padding: .8rem;
  border-radius: 8px;
  background-color: rgb(142, 183, 232);
}

.show{
  display: block;
}
.hide{
  display: none;
}


img{
  width: 2rem;
}

.logged-out{
  position: relative;
  top: 0px;
}

h3{
  color: red;
}
#searchContainer{
  display: grid;
  grid-template-columns: 100%;

}
.alert{
  color: red;
  margin: 0;
  padding: 0;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  background-color: #cac5c4;
  border: #282828;
  border-style: solid;
}
#searchBarContainer2{
  max-height: 35px;
  display:grid;
  grid-template-columns: 20% 50% 10% 20%;
  width: 100%;
}
#searchFilterContainer{
  width: 100%;
  display: grid;
  grid-template-columns: 20% 15% 15% 15% 15% 20%;
  margin-top: 2%;
}
#searchResults2{
  display: grid;
  width: 90%;;
  grid-template-columns: 100%;
  margin-left: auto;
  margin-right: auto;
}
#searchResultContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: max-content;
}
.searchResult{
  display: grid;
  height: max-content;
  margin-top: 2%;
  background-color: #ffffff;
  grid-template-columns: 40% 40% 15%;
  border-radius: 10px;
  margin-left: 1%;
  margin-right: 1%;
}