a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  min-height: 100vh;
  background-color: #e9e4e4;
  margin: 0;
  padding: 0;
  font-size: 2vw;
}

#app {
  top: 0;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: block;
}


button {
  border-radius: 8px;
  border: 2px solid;
  font-weight: 500;
  font-family: inherit;
  background-color: #d3d3d3;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #3a3a3a;
}
button:hover {
  border-color: #5fc462;
  border-width: 2px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:active {
  background-color: #a7dba9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.navBtn{
  border-style: solid;
  border: #282828;
  border-width: 5px;
}

#nav{
  padding: 0;
  display: block;
  min-height: 5%;
  max-height: max-content;
}
#top{
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  width: 100%;
}
#topLeft{
  background-color: white;
  color: #3a3a3a;
  border-radius: 8px;
  display: grid;
  grid-template-rows: 50% 50%;
}
.username{
  text-align: center;
  margin: 0;
}
#topMiddle{
  max-height: 95px;
  color: #3a3a3a;
  border-radius: 8px;
  display: grid;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
.navLabel{
  margin: 0;
  padding: 0;
}

.section{
  display: none;
}
section{
  min-height: 94vh;
}

.profileDisplay{
  display:grid;
  grid-template-columns: 36% 16% 16% 16% 16%;
  background-color: #ffffff;
  border-color: #282828;
  border-width: 3px;
  border-style: solid;
}
.profileLabel{
  font-size: 1.2vw;
}
#profilePosts{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30%;
}
.smallEditBtn{
  display: inline;
  width: max-content;
  font-size: 1vw;
  margin: 0;
}
#editIcon{
  width: 15px;
}
#newNameInput{
  background-color:#e6e6e6;
  border: #282828;
  border-style: solid;
  padding: 2px;
}
#displayUsername{
  display: inline-block;
}
#editNameForm{
  margin-bottom: 5px;
}
input[type=submit]{
  background-color: transparent;
  font-weight: bold;
  font-size: 1.5vw;
}

#rankContainer{
  display: grid;
  grid-template-columns: 38% 62%;
  grid-template-rows: 100%;
  background-color: #ffffff;
  border-width: 2%;
  border-style: solid;
  border-top: transparent;
}
#leftSearch{
border-right-style: solid;
}

#postForm{
  background-color: rgba(255, 244, 229, 0.682);
  display: grid;
  grid-template-columns: 100%;
  border-top-style: solid;
}
#scaleInput{
  display: grid;
  grid-template-columns: 40% 45% 15%;
}
#textArea{
  width: 100%;
}
#postText{
  display: grid;
  grid-template-columns: 40% 60%;
}
#publishPost{
  width: 50%;
  margin: auto;
}
#rankSearchTitle{
  background-color: rgb(255, 244, 205);
  padding-bottom: .3vh;
}
#searchBarContainer{
  max-height: 35px;
  display:grid;
  grid-template-columns: 82% 18%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
searchBar{
  height: 100%;
}
#searchIcon{
  max-height: 20px;
  max-width: 20px;
  padding: auto;
}
#searchButton{
  height: 100%;
  width: 100%;
}

input{
  height: 2rem;
  border-radius:10px;
  border: none;
  outline: none;
  text-align: center;
  color: #282828;
}

#searchResults{
  display: grid;
  grid-template-columns: 100%;
}
.resultObject{
  width: 100%;
  background-color: #ebf6a058;
  border-bottom: 0;
}

#listWords{
  margin: .6rem;
  padding: .8rem;
  border-radius: 8px;
  background-color: rgb(142, 183, 232);
}

.show{
  display: block;
}
.hide{
  display: none;
}


img{
  width: 2rem;
}

.logged-out{
  position: relative;
  top: 0px;
}

h3{
  color: red;
}